{% extends 'base.html' %}
{% load blog_tags %}





                    {% block main %}


                    {% for category in cate_list %}
                  	<div class="uk-margin uk-clearfix">

                <div style="margin-left:40px;">
                    <div class="uk-x"><a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a></div>
                </div>
            </div>


                    {% endfor %}
            <div class="pagination">
    <span class="step-links">
        {% if cate_list.has_previous %}
            <a href="?page={{ cate_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ cate_list.number }} of {{ cate_list.paginator.num_pages }}.
        </span>

        {% if cate_list.has_next %}
            <a href="?page={{ cate_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

            {% endblock main %}